apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-dev
  namespace: jan-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      env: dev
  template:
    metadata:
      labels:
        app: backend
        env: dev
    spec:
      containers:
      - name: backend
        image: minicube78/kukuk-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: dev
