apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-prod
  namespace: jan-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      env: prod
  template:
    metadata:
      labels:
        app: backend
        env: prod
    spec:
      containers:
      - name: backend
        image: minicube78/kukuk-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: prod
